/* css comment */

body{

    margin: 0;
    padding: 0;
    
}  


/* header section design start */

.header-section{

    height: 82vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 120px;
    background-color: rgba(56, 35, 9, 0.37);

}


.header-title{

    font-size: 70px;
    color: black;
    font-weight:bolder;
}

.header-discription{

    padding: 25px 0px;
    color: rgba(19, 19, 19, 0.648);
    font-size: 17px;
}

.header-button{

    padding: 15px 40px;
    color: rgb(243, 232, 232);
    font-size: 18px;
    font-weight: bolder;
    background-color: #AC223B;
    border-radius: 10px;
    border: none;
}


.header-img{
    
    /* padding-top: 40px; */
    height: 669px;
}

/* header section design end */






/* section1 design start */

.section1{
    height: 170vh;
    margin-top: -33px;
    text-align: center;
    background-color: rgba(58, 93, 31, 0.222);
}

.section1-title{
    padding-top: 100px;
    color: black;
    font-size: 40px;
    font-weight: bolder;
}


.section1-discription{

    padding: 10px 0px;
    color: rgba(19, 19, 19, 0.648);
    font-size: 16px;

}

.flower{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    margin-top: 70px;
}

.flower-item{

    padding: 15px;
    border: 5px solid rgba(158, 116, 116, 0.527);
    border-bottom: 35px solid rgba(0, 0, 139, 0.444);
    border-radius: 100px;
}



.flower-design{

    height: 300px;
}

.item1{

    background-color: rgba(255, 192, 203, 0.67);
}

.item2{
    background-color: rgb(155, 195, 236);
}

.item3{

    background-color: rgba(53, 121, 108, 0.56);
}



.support-part{

   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding: 50px 30px;
    margin: 140px 200px;
    border-radius: 35px;
    background-color: bisque;
}


/* section 1 design end */



