/* css comment */

body{

    margin: 0;
    padding: 0;
    
    


/* header section design start */

.header-section{

    height: 82vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 120px;
    background-color: bisque;

}


.header-title{

    font-size: 70px;
    color: black;
    font-weight:bolder;
}

.header-discription{

    padding: 25px 0px;
    color: rgba(19, 19, 19, 0.648);
    font-size: 17px;
}

.header-button{

    padding: 15px 40px;
    color: rgb(243, 232, 232);
    font-size: 18px;
    font-weight: bolder;
    background-color: #AC223B;
    border-radius: 10px;
    border: none;
}


.header-img{
    
    /* padding-top: 40px; */
    height: 669px;
}

/* header section design end */

/* section1 design start */

.section1{
    margin-top: -33px;
    text-align: center;
    background-color: rgba(120, 162, 128, 0.277);
}

.section1-title{
    padding-top: 100px;
    color: black;
    font-size: 40px;
    font-weight: bolder;
}


.section1-discription{

    padding: 10px 0px;
    color: rgba(19, 19, 19, 0.648);
    font-size: 16px;

}





